In [1]:
!pip install pandas
!pip install sklearn
!pip install xlrd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

Requirement already satisfied: pandas in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: sklearn in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\dell\appdata\roaming\python\python38\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied: xlrd in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (2.0.1)

In [2]:
df=pd.read_csv('exams (2).csv')
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,aptitude score,writing score,Total,GradePoints
0,male,group E,some college,standard,0,100,91,84,275,0.9
1,male,group C,some college,free/reduced,10,38,31,36,105,0.4
2,male,group E,high school,standard,10,83,74,73,230,0.8
3,female,group B,some college,standard,0,73,79,79,231,0.8
4,female,group A,some high school,free/reduced,10,74,80,81,235,0.8

In [3]:
career=pd.read_csv('Career_Choices.csv')
career.head(15)

,90% - 100%,70% - 90%,50% - 70%,40% - 50%,10% - 40%,Unnamed: 5
0,Medical,Teaching Assistant,Sales,Hotel Management,Ayurveda,NaN
1,Engineering,Sound Engineering,Center head for sports,Milk Processing Operator,Mountaineer,NaN
2,Management,HR,Designer,Plant Engineering,Wrestler,NaN
3,Chartered Accountancy,Sports Officer,Marketing,Nutritionist,Archer,NaN
4,Data Scientist,Content Writer,Pathology,Physical Education,Coach,NaN
5,Mobile Application Developer,Lab Assistant,Anchoring,Psychiatrist,Chef,NaN
6,Finance,Campus Ambassador,Copy Writing,Receptionist,Caterer,NaN
7,Executive Director,3-D Modelling,Journalism,Voiceover,Event Manager,NaN
8,Researcher,Web Development,Content Production,Podcast Production,Trainer,NaN
9,AI / ML Specialist,Finance,Blockchain Development,Singing,Environmentalist,NaN
10,Pharmacy,Big Data Analyst,Game Development,Acting,Interior designing,NaN
11,Mathematician,Brand Analyst,Cryptography,Dietician,Farmer,NaN
12,Bioinformatics,Editor,Mining,Culinary Arts,Youtuber,NaN
13,Professor,Digital Sculptor,Humanities,Choreography,Social Media Influencer,NaN
14,Lawyer,Associate,Program Manager,Enterpreneur,Food Processing Superviser,NaN

In [4]:
df.shape

(1000, 10)

In [5]:
career.shape

(15, 6)

In [6]:
X=df[['aptitude score','test preparation course']]

In [7]:
Y = df[['GradePoints']]

In [8]:
X_train,X_test,Y_train,Y_test =train_test_split(X,Y,test_size=0.3)

In [9]:
X_train

     aptitude score  test preparation course
163              94                       10
567              79                       10
866              94                       10
593             100                       10
847              67                        0
..              ...                      ...
208              86                        0
321              71                        0
554              85                       10
605              79                       10
86               59                        0

[700 rows x 2 columns]

In [10]:
Y_test

     GradePoints
74           0.8
139          0.5
750          0.8
742          0.6
516          0.9
..           ...
722          0.5
500          0.7
577          0.7
285          0.4
953          0.6

[300 rows x 1 columns]

In [11]:
rf=rf=RandomForestRegressor()

In [12]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 163 to 86
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   aptitude score           700 non-null    int64
 1   test preparation course  700 non-null    int64
dtypes: int64(2)
memory usage: 16.4 KB

In [13]:
Y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 163 to 86
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GradePoints  700 non-null    float64
dtypes: float64(1)
memory usage: 10.9 KB

In [14]:
rf.fit(np.array(X_train).reshape(-1,2),np.array(Y_train).reshape(-1,1))

LinearRegression()

In [15]:
a=int(input("Enter Aptitude score of student "))
b=int(input("Say whether student completed test preparation : 1 for Yes & 0 for No "))
r=np.array(rf.predict(np.array([[a,b]])))

Enter Aptitude score of student 78
Say whether student completed test preparation : 1 for Yes & 0 for No 0

In [16]:
print (r)

[[0.76721495]]

In [17]:

if r>=0.9 and r<=1.0 :
    choices = career[['90% - 100%','70% - 90%','50% - 70%','40% - 50%','10% - 40%']]
elif r >=0.7 and r<=0.9:
    choices = career[['70% - 90%','50% - 70%','40% - 50%','10% - 40%']]
elif r>= 0.5 and r<=0.7:
    choices = career[['50% - 70%','40% - 50%','10% - 40%']]
elif r>=0.4 and r<=0.5:
    choices = career[['40% - 50%','10% - 40%']]
else :
    choices =career[['10% - 40%']]
final=choices.values.tolist()

In [18]:
type(choices)

pandas.core.frame.DataFrame

In [19]:
n=len(final)
n

15

In [20]:
for i in final:
    for h in i:
        print(h)

Teaching Assistant
Sales
Hotel Management
Ayurveda
Sound Engineering
Center head for sports
Milk Processing Operator
Mountaineer
HR
Designer
Plant Engineering
Wrestler
Sports Officer
Marketing
Nutritionist
Archer
Content Writer
Pathology
Physical Education
Coach
Lab Assistant
Anchoring
Psychiatrist
Chef
Campus Ambassador
Copy Writing
Receptionist
Caterer
3-D Modelling
Journalism
Voiceover
Event Manager
Web Development
Content Production
Podcast Production
Trainer
Finance
Blockchain Development
Singing
Environmentalist
Big Data Analyst
Game Development
Acting
Interior designing
Brand Analyst
Cryptography
Dietician
Farmer
Editor
Mining
Culinary Arts
Youtuber
Digital Sculptor
Humanities
Choreography
Social Media Influencer
Associate
Program Manager
Enterpreneur
Food Processing Superviser

In [22]:
import pickle
with open("career2.pkl","wb") as f:
    pickle.dump(rf,f)
loader_model=pickle.load(open("career2.pkl","rb"))
result=loader_model.score(X_test,Y_test)
print(result)

0.8895915231210227

In [23]:
h=pd.read_pickle('career2.pkl')

In [24]:
h

LinearRegression()